@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    min-width: 1000px;
    margin-bottom: -50px;
    background-color: #3E92CC;
    background-image:
        radial-gradient(
        circle at bottom right,
        #DBD8AE,
        white
    );
}

.header {
    margin: 0;
    background-color: #202020;
    color: white;
    padding: 20px;
    font-size: xx-large;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    margin-bottom: 50px;
}

.booksHeading {
    margin: 30px;
    margin-bottom: 5px;
    font-family: 'Alata', sans-serif;
    font-style: italic;
    font-size: 50px;

}

.bookList {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr auto;
    justify-items: center;
    gap: 5px;
}

@media only screen and (max-width: 1300px) {
    .bookList {
        grid-template-columns: 1fr;
    }
  }

.book {
    margin: 30px;
    padding: 25px;
    width: 500px;
    border: solid thin;
    border-radius: 5px;
    font-family: 'Alata', sans-serif;
    box-shadow: 10px 10px grey;
}

.completed {
    background-color:#d9fcd9;
}

.bookName {
    font-size: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.authorDetails {
    display: inline-block;
    width: 300px;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
    text-overflow: ellipsis;
}

.bookAuthor {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-left: 2px;
}