@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #3E92CC;
    background-image:
        radial-gradient(
        circle at bottom right,
        #DBD8AE,
        white
    );
}

.header {
    margin: 0;
    background-color: #202020;
    color: white;
    padding: 20px;
    font-size: xx-large;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    margin-bottom: 50px;
}

.booksHeading {
    margin: 30px;
    margin-bottom: 5px;
    font-family: 'Alata', sans-serif;
    font-style: italic;
    font-size: 50px;

}

.book {
    margin: 30px;
    padding: 25px;
    width: 500px;
    border: solid thin;
    border-radius: 5px;
    font-family: 'Alata', sans-serif;
    box-shadow: 10px 10px grey;
}

.completed {
    background-color:#d9fcd9;
}

.bookName {
    font-size: 40px;
    font-family: 'Noto Sans JP', sans-serif;
}

.bookAuthor {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 2px;
    margin-right: 30px;
    margin-bottom: 10px;
}