@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Alata', sans-serif;
    min-height: 100vh;
    min-width: 1000px;
    background-color: #DBD8AE;
    background-image:
        linear-gradient(
        to top,
        #DBD8AE,
        white
    );
}

.header {
    margin: 0;
    background-color: #202020;
    color: white;
    padding: 20px;
    font-size: xx-large;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    margin-bottom: 50px;
}

.bookDetails {
    display: inline-block;
}

.booksHeading {
    margin: 30px;
    margin-bottom: 10px;
    font-family: 'Alata', sans-serif;
    font-style: italic;
    font-size: 50px;

}

.bookList {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 5px;
}

@media only screen and (max-width: 1900px) {
    .bookList {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 1300px) {
    .bookList {
        grid-template-columns: 1fr;
    }
}

.book {
    margin: 30px;
    padding: 25px;
    width: 500px;
    border: solid thin;
    border-radius: 5px;
    font-family: 'Alata', sans-serif;
    box-shadow: 10px 10px grey;
}

.completed {
    background-color:#d9fcd9;
}

.bookName {
    font-size: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.authorDetails {
    display: inline-block;
    width: 300px;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
    text-overflow: ellipsis;
}

.bookAuthor {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-left: 2px;
}

.readStatus {
    float: right;
    /* font-size: 15px; */
    margin-right: 20px;
}

.formContainer {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.bookForm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /* border: solid thin; */
}

.addBookButton {
    width: fit-content;
    padding: 10px 20px;
    border: none;
    background-color: brown;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    margin: 5px 0 0 30px;
}